<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phcdevelop.anyhookdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnyHookDemo">
        <property android:name="app" android:value="123132"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AnyHookDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.phcdevelop.anyhook.provider.AnyProvider"
            android:name="com.phcdevelop.anyhook.provider.AnyProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data android:name="previewActName" android:value="com.phcdevelop.anyhookdemo.MainActivity"/>
        </provider>
    </application>

</manifest>